.float-container {
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-weight: lighter;
}
.child-container {
  float: left;
  width: 45%;
  padding: 1rem;
}
.child-container:first-of-type {
  border-right: 2px solid black;
}
#heading1 {
  text-align: center;
}
h5,
h2 {
  font-weight: lighter;
  text-decoration: underline;
}
h3 {
  font-weight: lighter;
}
button {
  margin: 0.25rem;
}
i {
  display: block;
  text-align: center;
}
.mapped-list {
  padding-left: 8rem;
}
.switchDirectiveInput {
  margin: 2rem;
}
.red {
  background-color: red;
  color: black;
}
.green-color {
  background-color: green;
  color: black;
}
