<div class="life-cycle-container">
  <h2>Life Cycle Hooks</h2>
  <div class="child-container">
    <h3 style="text-align: center">
      For results in this section, please check the console
    </h3>
    <h2>ngOnInit</h2>
    <h3>
      ngOnInit is invoked when the component has been initialized. It is called
      only once after the first ngOnChanges
    </h3>
    <h3>
      Mostly is used for doing initializations and once a component is loaded
      into the DOM, the components constructor and the onInit method are called.
    </h3>
    <h3>Constructors are called first</h3>

    <!-- ngOnDestroy -->
    <h2>ngOnDestroy</h2>
    <h3>
      ngOnDestroy will be called once just before component is removed from the
      DOM.
    </h3>
    <h3>If we need any cleaning activities we can do it on onDestroy</h3>

    <button (click)="toggleChild()" class="toggle-button">Toggle Child</button>

    <app-lifecycle-hooks-child
      *ngIf="isChild"
      [channelName]="channelName"
    ></app-lifecycle-hooks-child>

    <!-- ngOnChanges -->
    <h2>ngOnChanges</h2>
    <h3>
      onChanges will be called once before onInit and will be called whenever
      the data-bound input properties changes.
    </h3>
    <h3>
      Data-bound input is not the normal input in the same component rather it
      is something coming from outside of that component through @Input.
    </h3>
    <h3>ngOnChanges can used to do something if a particular value changes</h3>
    <input type="text" [(ngModel)]="channelName" />

    <!-- ngDoCheck -->
    <h2>ngDoCheck</h2>
    <h3>
      DoCheck will be invoked when the change detector of the given component is
      invoked.
    </h3>
    <h3>
      It is called immediately after ngOnChanges on every change detection and
      immediately after onInit on the first run.
    </h3>

    <h2>
      ngOnInit, ngOnDestroy, ngOnChanges and ngDoCheck are general life cycle
      hooks both present in components and directives.
    </h2>
    <h2>NB: Avoid using ngOnChanges and ngDoCheck in the same componenent</h2>
  </div>

  <div class="child-container">
    <h2>ngAfterContentInit</h2>
    <h3>ngAfterContentInit will be called only once after the first doCheck</h3>
    <h3>
      Content projection : This is when you project some contnet into child from
      parent. Normally the content is wrapped with the child tags then using
      ng-content directive in the child component html file, you specify where
      you want the content to appear.
    </h3>
    <h3>
      Content projection is very useful when we are creating reusable widgets.
    </h3>
    <h2 style="text-decoration: underline">
      Below is a demo on content projection
    </h2>
    <!-- <app-lifecycle-hooks-child *ngIf="isChild">
      <h2 #projectedContent>
        Use Case of ng-content: Please subscribe to my channel: Tasha Accounts
      </h2>
    </app-lifecycle-hooks-child> -->

    <div style="border-top: 2px solid black">
      <h2>ngAfterContentChecked</h2>
      <h3>
        This is called after ngAfterContentInit and every subsequent ngDoCheck
      </h3>
    </div>
    <h2>ngAfterViewInit</h2>
    <h3>
      ngAfterViewInit will be called once after the first ngAfterContentChecked.
    </h3>
    <h2>ngAfterViewChecked</h2>
    <h3>
      ngAfterViewChecked will be called once after ngAfterViewInit and after
      every subsequent ngAfterContentChecked
    </h3>
    <h2>The static in View Child Decorator</h2>
    <h3>
      The second parameter on ViewChild or ContentChild which is an object with
      the words <q>static: true</q>
      makes content accessibe in the ngOnChanges and ngOnInit itself
    </h3>
  </div>
</div>
