<div class="child-display">
  <h3>From the child component day2bchildComponent</h3>
  <p>Please suscribe to {{ channelName }}</p>

  <!-- Passing data from child to parent component -->
  <h2>Child to Parent Component</h2>
  <p>Here we use event binding and event emitter approach</p>
  <input type="text" (input)="sendMessageToParent($event)" />

  <i>
    ** The second component is day2bchildComponent used when showcasing the use
    of services
  </i>
  <input type="number" [(ngModel)]="firstNum" (change)="calculate()" />
  +
  <input type="number" [(ngModel)]="secondNum" (change)="calculate()" />
  =
  {{ output }}
</div>
